.case-study__hero {
    position: relative;
    width: 100%;
    img {
        width: 100%;
        display: block;
    }

    .hero-Purple {
        color: #4d3be7
    }
    .hero-Green {
        color: #35e223
    }
    .hero-Yellow {
        color: #ffdd00
    }
    .hero-Blue {
        color: #19eeff
    }
    .hero-Navy {
        color: #063b40
    }
    .hero-red {
        color: #ff290c
    }
    .hero-Orange {
        color: #ff7719
    }
    .hero-Pink {
        color: #ff069a
    }
}

.case-study__hero-title {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}

.case-study__text {
    padding: 0 6rem 8rem;
    font-size: 1.65em;
    line-height: 1.2em;
    max-width: 1400px;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .case-study__title {
        padding: 0 2em 0;
    }

    .case-study__text {
        padding: 0 2rem 8rem;
    }
}

.case-study__tiles {
    width: 100%;

    img {
        width: 50%;
        float: left;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .case-study__tiles {
        img {
            width: 100%;
            float: left;
            display: block;
        }
    }
}