.content-page {
    padding: 0 6em;
}

.page__title {
    font-size: 4.25em;
    padding-bottom: 10px;
    margin: 2em 0;

    span {
        border-bottom: 3px solid $accent-3;
    }
}

.page__text {
    font-size: 1.65em;
    line-height: 1.2em;
    padding-bottom: 2em;

    strong {
        font-family: $font-bold;
    }
}