.content-page {
    padding: 0 6em;
}

.page__title {
    font-size: 4.25em;
    padding-bottom: 10px;
    margin: 1em 0;

    span {
        border-bottom: 3px solid $accent-3;
    }
}

.page__text {
    font-size: 1.65em;
    line-height: 1.2em;
    padding: 3em 0;

    strong {
        font-family: $font-bold;
    }
}

.blog-index {
    .page__text {
        padding: 2em 0;
    }

    h2.entry-title {
        margin-bottom: 0;
    }
}