.home-about {
    max-width: 800px;
    margin: 0 auto;

    .about__text {
        padding: 0em 1em 5em 1em; 
        padding-bottom: 2em;
        font-size: 2em;
        line-height: 1.2em;
        font-family: $font-bold;

        strong {
            font-family: $font-bold;
        }
    }
}