.nav-toggle {
    width: 10%;
    float: right;
    margin-top: 2.85em;
    margin-right: 4.5%;
    font-size: 1.2em;
    text-align: right;

    span {
        text-decoration: none;
        border-bottom: 1px solid #35e223;
        cursor: pointer;
    }
}

.nav-container {
    display: none;
    position: relative;

    .nav-toggle__btn {
        position: absolute;
        top: 20px;
        right: 4.5%;
        color: #fff;
        font-size: 24px;
        font-family: $font-bold;
        border: 2px solid #fff;
        border-radius: 20px;
        padding: .3em .37em;
    }
}

.menu {
    background: blue;

    li {
        padding: 1em;
        text-align: center;
        font-size: 92px;
        font-family: $font-bold;
    }

    li a {
        color: #fff;
        text-decoration: none;
    }
}