.nav-toggle {
    float: left;
    padding-top: 3rem;
    padding-left: 2.7rem;
    font-size: 2.5em;
    text-align: left;
    color: #fff;
    background: #19EEFF;
    height: 117px;
    width: 110px;

    span {
        text-decoration: none;
        cursor: pointer;
    }
}

.nav-container {
    display: none;
    position: relative;

    .nav-toggle__btn {
        position: absolute;
        top: 1.5em;
        right: 4.5%;
        color: #fff;
        font-size: 3em;
        font-family: $font-bold;
        padding: .3em .37em;
        cursor: pointer;
    }

    .nav-toggle__btn:hover {
        color: #ffdd00;
    }
}

.modal-open {
    overflow: hidden;
}

.nav-container--active {
    position: fixed;
    top: 117px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: block;
    overflow-y: scroll;
    z-index: 2;
}

.menu {
    background: $accent-2;
    padding: 6em 0;

    li {
        text-align: center;
        font-size: 92px;
        font-family: $font-bold;
        line-height: 1.2em;
    }

    li a {
        color: #fff;
        text-decoration: none;
    }

    li a:hover {
        color: #ffdd00;
    }
}

.site-header {
    transition: all, 1s;
    -webkit-transition: all, 1s;
}

.nav__sticky-wrapper {
    background: #efefef;
}

.site-header--fixed {
    position: fixed;
    top: -150px;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all, 1s;
    -webkit-transition: all, 1s;
}

.site-header--active {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all, 1s;
    -webkit-transition: all, 1s;
    height: 117px;
}