.nav-toggle {
    width: 10%;
    float: left;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 1.65em;
    text-align: left;

    span {
        text-decoration: none;
        border-bottom: 3px solid #35e223;
        cursor: pointer;
    }
}

.nav-container {
    display: none;
    position: relative;

    .nav-toggle__btn {
        position: absolute;
        top: 1.5em;
        right: 4.5%;
        color: #fff;
        font-size: 3em;
        font-family: $font-bold;
        border-radius: 20px;
        padding: .3em .37em;
        cursor: pointer;
    }

    .nav-toggle__btn:hover {
        color: #ffdd00;
    }
}

.menu {
    background: $accent-2;
    padding: 8em 0;

    li {
        text-align: center;
        font-size: 92px;
        font-family: $font-bold;
        line-height: 1.2em;
    }

    li a {
        color: #fff;
        text-decoration: none;
    }

    li a:hover {
        color: #ffdd00;
    }
}