.stripe--green {
    background: url('../img/stripe-green.png');
    height: 100px;
    width: 100%;
}

.stripe--purple {
    background: url('../img/stripe-purple.png');
    height: 100px;
    width: 100%;
}

.stripe--pink {
    background: url('../img/stripe-pink.png');
    height: 100px;
    width: 100%;
}
