.home-tile {
    display: block;
    width: 33.333%;
    float: left;
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        display: block;
    }

    .tile__type {
        position: absolute;
        top: 1em;
        left: 1em;

        font-size: 1.65em;
        border-bottom: 3px solid #35e223;
        padding-bottom: 3px;
    }

    .tile__text {
        position: absolute;
        top: 2.8em;
        left: 1em;
        right: 1em;
        display: none;

        font-family: $font-bold;
        font-size: 1.65em;
        line-height: 1.2em;

        p {
            margin-bottom: 0;
        }

        strong {
            color: #4d3be7;
        }
    }
        
    &:hover .tile__text {
        display: block;
    }

    .tile__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: #fff;
        opacity: 0;
        pointer-events: none;
    }

    &:hover .tile__overlay {
        opacity: 0.7;
    }

    .tile__more {
        position: absolute;
        bottom: 1em;
        left: 1em;
        width: 100%;

        font-size: 1.65em;
    }

    .tile__more__plus {
        float: left;
        display: none;
        color: #4d3be7;
        font-size: 2rem;
        text-align: center;
        line-height: 27px;
    }

    .tile__more__text {
        float: left;
        display: none;
        margin-left: .8rem;
        line-height: 27px;
        font-size: 1.65rem;
        color: #4d3be7;
    }

    &:hover .tile__more__plus,
    &:hover .tile__more__text {
        display: block;
    }

}

.tile-type--Talk {
    .tile__text {
        display: block;
    }
    .tile__more,
    .tile__more__plus,
    .tile__more__text {
        display: block;
    }
}

.tile-type--Talk:hover {
    .tile__more__plus,
    .tile__more__text {
        color: #333;
    }
}

.tile-type--About {
    .tile__text,
    .tile__more,
    .tile__more__plus,
    .tile__more__text
     {
        display: block;
    }

    .tile__text {
        top: 1em;
    }

    .tile__type {
        display: none;
    }
}

.tile-type--About:hover {
    .people-rollover {
        display: block;
    }

    .tile-image,
    .tile__text,
    .tile__overlay
     {
        display: none;
    }

    .tile__more,
    .tile__more__plus,
    .tile__more__text {
        display: block;
        color: #333;
    }

}

@media screen and (max-width: 1040px) and (min-width: 768px) {
    .home-tile {

        .tile__text,
        .tile__type {
            font-size: 1.2rem;  
            padding-bottom: 0;
        }
    }
}

.tile-color--Light {
    .tile__type {
        color: #fff;
    }
}

.tile-color--Light:hover {
    .tile__type {
        color: #333;
    }
}

.tile-color--Dark {
    .tile__type {
        color: #333;
    }
}

@media screen and (max-width:768px) {

    .home-tile {
        width: 50%;
    }

}

@media screen and (max-width:600px) {

    .home-tile {
        width: 100%;
    }

}

img.people-rollover {
    display: none;
}

.tile-type--People {
    overflow: hidden;

    .tile__text {
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        transition: top, .5s;
        height: 30%;
        background: #19eeff;
        padding: 1.5rem 1.8rem;
    }

    .tile-image-1,
    .tile-image-2,
    .tile-image-3 {
        display: none;
    }

    .people-gif.active {
        display: block;
    }

    .tile__people__popup {
        display: none;
    }
}

.tile__people__popup.active {
    display: block;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    background: #fff;
    z-index: 3;
    padding: 2rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);

    .popup__close {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
        font-size: 3em;
        font-family: $font-bold;
        cursor: pointer;
    }

    .popup__body {
        float: left;
        width: 40%;
    }

    .popup__text {
        font-size: 1.2rem;
        line-height: 1.2em;
    } 

    .popup__header {
        border-bottom: 3px solid #35e223;
        padding-bottom: 3px;
        display: inline-block;
        margin-bottom: .75em;

        p {
            margin-bottom: 0;
        }
    }

    img {
        float: right;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .tile__people__popup.active { 
        top: 5%;
        left: 5%;
        width: 85%;

        .popup__body {
            width: 100%;
        }

        img {
            width: 50%;
        }     
    }
}

.tile-type--People:hover {
    img.people-rollover {
        width: 100%;
        display: block;
    }
    
    .tile__text {
        top: 70%;
    }

    .tile-image-1,
    .tile-image-2,
    .tile-image-3,
    .tile__more,
    .tile__overlay {
        display: none;
    }
}

.tile-type--Work:hover {
    .tile__type {
        display: none;
    }
    .tile__text {
        top: 1em;        
    }
}



/// WORK tiles

.work-tile {
    display: block;
    width: 33.333%;
    float: left;
    position: relative;

    img {
        width: 100%;
        display: block;
    }

    .tile__text-wrapper {
        position: absolute;
        bottom: 1em;
        left: 1em;
        font-size: 1.65em;
        line-height: 1.2em;
        background: #fff;
        padding: .5em .7em;
        width: 50%;
    }

    .tile__text-client {
        color: $accent-2;
    }

    &:hover .tile__text-wrapper {
        display: none;
    }

    .tile__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: #fff;
        opacity: 0;
        pointer-events: none;
    }

    &:hover .tile__overlay {
        opacity: 0.85;
    }

    .tile__more {
        position: absolute;
        bottom: 1em;
        left: 1em;
        width: 100%;

        font-size: 1.65em;
    }

    .tile__more__plus {
        float: left;
        display: none;
        color: #4d3be7;
        font-size: 2rem;
        text-align: center;
        line-height: 27px;
    }

    .tile__more__text {
        float: left;
        display: none;
        margin-left: .8rem;
        line-height: 27px;
        font-size: 1.65rem;
        color: #4d3be7;
    }

    &:hover .tile__more__plus,
    &:hover .tile__more__text {
        display: block;
    }
}

@media screen and (max-width:768px) {

    .work-tile {
        width: 50%;
    }

}

@media screen and (max-width:600px) {

    .work-tile {
        width: 100%;
    }

}