// variables

$text-color: #333; // not blue anymore, woops

$accent: #ff9c00;

$accent-2: #4d3be7;

$border: #35e223;



$font-bold: 'camptonbold_demo';

$font-reg: 'camptonbook';

$font-light: 'camptonbook';