// header
.site-header {
    background: #efefef;
    height: 117px;
}

.site-branding {
    width: 92px;
    float: right;
    font-size: 1.65em;
    margin-right: 1em;
}

.site-title {
    background: url('../img/logo.svg') no-repeat;
    text-indent: -99999px;
    margin-top: 1em;
    width: 92px;
}